// Variables
@import "./variables";

// Bootstrap

@import "~bootstrap/scss/bootstrap";

@import "./mixin";

// Fonts

@font-face {
  font-family: Roboto-regular;
  src: url("../fonts/Roboto-Regular.woff2") format("woff2"),
    url("../fonts/Roboto-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@import "./app-critical";

body {
  font-family: Roboto-regular;
}

.p-5 {
  padding-top: 0 !important;
}

.d-flex {
  > nav {
    margin-left: auto !important;
  }
}

ul,
li {
  padding: 0;
  list-style: none;
}

.table {
  th,
  td {
    vertical-align: middle;
  }

  .bi {
    display: inline-block;
    width: rem(16);
    height: rem(16);
    margin-right: rem(8);
  }
}

.column-action {
  width: rem(261);

  button {
    width: 100%;
  }
}