// Variables
@import "./variables";

// Bootstrap

@import "~bootstrap/scss/bootstrap";

@import "./mixin";

// Fonts

@font-face {
  font-family: Roboto-regular;
  src:
    url("../fonts/Roboto-Regular.woff2") format("woff2"),
    url("../fonts/Roboto-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@import "./app-critical";

body {
  font-family: Roboto-regular, Arial, Helvetica, sans-serif;
}

ul,
li {
  padding: 0;
  list-style: none;
}

.table {
  th,
  td {
    vertical-align: middle;
  }

  .bi {
    display: inline-block;
    width: rem(16);
    height: rem(16);
    margin-right: rem(8);
  }
}

.column-action {
  width: rem(261);

  button {
    width: 100%;
  }
}

.image-row {
  display: flex;
  height: rem(120);
  align-items: center;

  .col-image {
    flex-basis: rem(120);
    min-width: rem(120);
    max-width: rem(120);
  }

  .col {
    flex-grow: 1;
  }

  .col-action {
    flex-basis: rem(150);
    min-width: rem(150);
    max-width: rem(150);
  }
}